DB_PASSWORD=password
DB_USERNAME=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=purch

SECRET_KEY=secret
ALGORITHM=HS256

PLAID_API_VERSION='2020-09-14'
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox
PLAID_PRODUCTS=auth,transactions
PLAID_COUNTRY_CODES=US
PLAID_REDIRECT_URI=
PLAID_LANGUAGE=en
